<ion-view view-title="Inici">
  <ion-content>

       <div style="position:absolute; top:36px; left:30px; right:30px; visibility:visible z-index:1"> 
         <img src="img/FAB_Web.png" alt="logo">
         <br/>
         <br/>
         <p align="justify"> Per apuntar-te als cursos ho pots fer venint al Punt Multimèdia i fer la inscripció, a través de la pàgina web i fer el pagament per transferència bancària o paypal. <p/>
       </div> 

       <div>
        <img src="img/background.jpg" style="width:100%;">
       </div>
       
  
  </ion-content>
</ion-view>
